<!DOCTYPE html>
<!-- -- xmlns:th => th 키워드가 정의되어 있는 곳의 주소 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <input type="text" name="num1" id="" />
      <select name="op" id="">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
      <input type="text" name="num2" id="" />
      <button type="submit">계산</button>
    </form>
  </body>
</html>
