<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/layout}">
  <div class="container mt-5" layout:fragment="content">
    <h2>Board Read Page</h2>
    <form action="" method="post">
      <div class="mb-3">
        <label for="bno" class="col-sm-2 col-form-label">Bno</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="bno" name="bno" th:value="${dto.bno}" readonly />
        </div>
      </div>
      <div class="mb-3">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" readonly />
        </div>
      </div>
      <div class="mb-3">
        <label for="content" class="col-sm-2 col-form-label">Content</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="content" name="content" readonly>[[${dto.content}]]</textarea>
        </div>
      </div>
      <div class="mb-3">
        <!-- writer name -->
        <label for="writerName" class="col-sm-2 col-form-label">writerName</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="writerName" name="writerName" th:value="${dto.writerName}" readonly />
        </div>
      </div>
      <div class="mb-3">
        <label for="createDate" class="col-sm-2 col-form-label">CreatedDate</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="createDate"
            name="createDate"
            th:value="${#temporals.format(dto.createdDate, 'yyyy-MM-dd HH:mm:ss')}"
            readonly
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="lastModifiedDate" class="col-sm-2 col-form-label">lastModifiedDate</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="lastModifiedDate"
            name="lastModifiedDate"
            th:value="${#temporals.format(dto.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}"
            readonly
          />
        </div>
      </div>
      <div class="mb-3">
        <a
          class="btn btn-success"
          th:href="@{modify(bno=${dto.bno}, page=${requestDto.page}, type=${requestDto.type}, keyword=${requestDto.keyword})}"
          >Modify</a
        >
        <a class="btn btn-primary" th:href="@{list(page=${requestDto.page}, type=${requestDto.type}, keyword=${requestDto.keyword})}">List</a>
      </div>
    </form>
  </div>
</html>
